[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
configparser = "*"
boto3 = "*"
ipykernel = "*"
plotly = "*"
nbformat = "*"
pandas = "*"

[requires]
python_version = "3.9"
